<a href="https://colab.research.google.com/github/WAETW/NTCU_ML_HomeWork/blob/master/Fuck.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving testdata.csv to testdata (1).csv
User uploaded file "testdata.csv" with length 230 bytes

In [0]:
import pandas as pd

In [0]:
predict_data = pd.read_csv("testdata.csv",encoding = "big5")

In [38]:
predict_data

   流水號  程式設計  UNIX應用實務  微積分(I)  普通物理學  計算機概論
0    1    28      60.0      54     77     39
1    2    41      70.0      70     60     64
2    3    67      79.0      75     68     51
3    4    63      69.0      71     49     51
4    5    78      94.0      99     69     74
5    6    56      96.0      89     90     68
6    7    39      49.0      74     67     43
7    8    55      49.0      81     61     35
8    9    61      69.0      78     67     63
9   10    36       NaN      93     64     52

In [0]:
train_data_series = ['程式設計' ,'UNIX應用實務' ,'微積分(I)'	,'普通物理學'	,'計算機概論']
test_df = predict_data[train_data_series]

In [40]:
test_df['UNIX應用實務'] = test_df['UNIX應用實務'].fillna(60)
test_df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   程式設計  UNIX應用實務  微積分(I)  普通物理學  計算機概論
0    28      60.0      54     77     39
1    41      70.0      70     60     64
2    67      79.0      75     68     51
3    63      69.0      71     49     51
4    78      94.0      99     69     74
5    56      96.0      89     90     68
6    39      49.0      74     67     43
7    55      49.0      81     61     35
8    61      69.0      78     67     63
9    36      60.0      93     64     52

In [16]:
test_df.loc[1][1]

70.0

In [0]:
test = test_df

In [42]:
submit = []
for i in range(10):
  count = 0
  for j in range(5):
    if test_df.loc[i][j] < 60:
      count = count + 1
  print(count)
  if count >2:
    submit.append(1)
  else:
    submit.append(0)

3
1
1
2
0
1
3
3
0
2

In [43]:
submit

[1, 0, 0, 0, 0, 0, 1, 1, 0, 0]

In [44]:
submit_df = pd.DataFrame(submit,columns = ['高關懷'])
submit_df

   高關懷
0    1
1    0
2    0
3    0
4    0
5    0
6    1
7    1
8    0
9    0

In [0]:
answer_df = pd.concat([test_df,submit_df],axis=1, join_axes=[test_df.index])

In [46]:
answer_df

   程式設計  UNIX應用實務  微積分(I)  普通物理學  計算機概論  高關懷
0    28      60.0      54     77     39    1
1    41      70.0      70     60     64    0
2    67      79.0      75     68     51    0
3    63      69.0      71     49     51    0
4    78      94.0      99     69     74    0
5    56      96.0      89     90     68    0
6    39      49.0      74     67     43    1
7    55      49.0      81     61     35    1
8    61      69.0      78     67     63    0
9    36      60.0      93     64     52    0