<a href="https://colab.research.google.com/github/WAETW/NTCU_ML_HomeWork/blob/master/RandomForest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

上傳訓練資料

In [0]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving training.xlsx to training.xlsx
User uploaded file "training.xlsx" with length 20206 bytes

上傳測試資料

In [0]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving testdata.csv to testdata.csv
User uploaded file "testdata.csv" with length 230 bytes

In [0]:
import pandas as pd
import numpy as np
from sklearn import  ensemble, preprocessing, metrics
from sklearn.model_selection import train_test_split

In [0]:
train_data = pd.read_excel("training.xlsx")
predict_data = pd.read_csv("testdata.csv",encoding = "big5")

取總修學分與實得學分當訓練資料

In [0]:
train_series = ['程式設計' ,'UNIX應用實務' ,'微積分(I)'	,'普通物理學'	,'計算機概論'	,'高關懷']

train_df = train_data[train_series]

In [0]:
train_df

    程式設計  UNIX應用實務  微積分(I)  普通物理學  計算機概論  高關懷
0     95      95.0    89.0   89.0   92.0    0
1     76      70.0     NaN    NaN    NaN    1
2     52      60.0    83.0   78.0   42.0    0
3     75      77.0    95.0   79.0   60.0    0
4     72      87.0    73.0   66.0   60.0    0
5     37      13.0    91.0   69.0   47.0    0
6     43      80.0    85.0   81.0   42.0    0
7     27      60.0    79.0   88.0   12.0    0
8     64      80.0    67.0   78.0   68.0    0
9     75      74.0    98.0   87.0   86.0    0
10    85      87.0    78.0   79.0   70.0    0
11    75      60.0    65.0   75.0   60.0    0
12    99      91.0    92.0   64.0   63.0    0
13    74      70.0    73.0   80.0   60.0    0
14    72      86.0    64.0   76.0   61.0    0
15    51      60.0    60.0   65.0   31.0    1
16    67      89.0    72.0   94.0   60.0    0
17    96      96.0    72.0   88.0   88.0    0
18    82      77.0    84.0   86.0   50.0    0
19    52      75.0    53.0   65.0   49.0    1
20    61      60.0    66.0   72.0   47.0    0
21    70      60.0    60.0   78.0   60.0    0
22    86      83.0    97.0   95.0   79.0    0
23    69      84.0    55.0   91.0   51.0    0
24    86      82.0    80.0   78.0   85.0    0
25    79      60.0    61.0   71.0   73.0    0
26    69      83.0    62.0   91.0   60.0    0
27    72      81.0    80.0   92.0   60.0    0
28    53      70.0    60.0   83.0   60.0    0
29    62      84.0    74.0   79.0   32.0    0
..   ...       ...     ...    ...    ...  ...
152   60      63.0    88.0   76.0   60.0    0
153   70      60.0    71.0   69.0   46.0    0
154   70      85.0    79.0   68.0   60.0    0
155   47      75.0    75.0   71.0   60.0    0
156   67       NaN    77.0   73.0   60.0    0
157   50      76.0    66.0   79.0   44.0    1
158   72      68.0    91.0   74.0   60.0    0
159   63      73.0    74.0   81.0   73.0    0
160   54      60.0    95.0   90.0   60.0    0
161   45      23.0    51.0   60.0   35.0    1
162   34      20.0    56.0   60.0   51.0    1
163   57      22.0    39.0   60.0   34.0    1
164   80      24.0    81.0   60.0   60.0    0
165   89      94.0    92.0   88.0   83.0    0
166   72      82.0    79.0   85.0   60.0    0
167   82      48.0    60.0   61.0   38.0    0
168   73      99.0    95.0   87.0   70.0    0
169   42      70.0    60.0   83.0   46.0    0
170   69      82.0    61.0   81.0   43.0    0
171   63      72.0    73.0   62.0   37.0    0
172   77      80.0    84.0   86.0   62.0    0
173   88      87.0    97.0   85.0   71.0    0
174   85      84.0    88.0   85.0   61.0    0
175   62      92.0    79.0   80.0   69.0    0
176   66      72.0    94.0   66.0   61.0    0
177   76      97.0    86.0   77.0   60.0    0
178   65      49.0    90.0   65.0   60.0    0
179            NaN     NaN   68.0   78.0    0
180            NaN     NaN   88.0   88.0    0
181   46      94.0    72.0   81.0   78.0    0

[182 rows x 6 columns]

In [0]:
train_df = train_df.dropna(axis=0, how='any')

In [0]:
train_data_series = ['程式設計' ,'UNIX應用實務' ,'微積分(I)'	,'普通物理學'	,'計算機概論']
#train_data_series = ['總修學分數', '實得學分數']
train_data = train_df[train_data_series]
train_label = train_df['高關懷']

將訓練資料分20%當驗證模型的資料

In [0]:
train_data , test_data, train_label, test_label = train_test_split(train_data,train_label, test_size = 0.3)

In [0]:
forest = ensemble.RandomForestClassifier(n_estimators = 100)
forest_fit = forest.fit(train_data, train_label)

使用Sklearn的RandomForest模型

In [0]:
test_label_predicted = forest.predict(test_data)

驗證模型準確度

In [0]:
accuracy = metrics.accuracy_score(test_label, test_label_predicted)
print(accuracy)

0.9230769230769231

In [0]:
test_df = predict_data[train_data_series]

In [0]:
predict_data

   流水號  程式設計  UNIX應用實務  微積分(I)  普通物理學  計算機概論
0    1    28      60.0      54     77     39
1    2    41      70.0      70     60     64
2    3    67      79.0      75     68     51
3    4    63      69.0      71     49     51
4    5    78      94.0      99     69     74
5    6    56      96.0      89     90     68
6    7    39      49.0      74     67     43
7    8    55      49.0      81     61     35
8    9    61      69.0      78     67     63
9   10    36       NaN      93     64     52

In [0]:
test_df

   程式設計  UNIX應用實務  微積分(I)  普通物理學  計算機概論
0    28      60.0      54     77     39
1    41      70.0      70     60     64
2    67      79.0      75     68     51
3    63      69.0      71     49     51
4    78      94.0      99     69     74
5    56      96.0      89     90     68
6    39      49.0      74     67     43
7    55      49.0      81     61     35
8    61      69.0      78     67     63
9    36       NaN      93     64     52

In [0]:
test_df['UNIX應用實務'] = test_df['UNIX應用實務'].fillna(60)
test_df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

   程式設計  UNIX應用實務  微積分(I)  普通物理學  計算機概論
0    28      60.0      54     77     39
1    41      70.0      70     60     64
2    67      79.0      75     68     51
3    63      69.0      71     49     51
4    78      94.0      99     69     74
5    56      96.0      89     90     68
6    39      49.0      74     67     43
7    55      49.0      81     61     35
8    61      69.0      78     67     63
9    36      60.0      93     64     52

將預測資料輸入模型

In [0]:
test = forest.predict(test_df)

In [0]:
submit_df = pd.DataFrame(test,columns = ['高關懷'])

In [0]:
submit_df

   高關懷
0    1
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0

將輸出與測試資料的DataFrame結合

In [0]:
answer_df = pd.concat([predict_data,submit_df],axis=1, join_axes=[test_df.index])

測試結果

In [0]:
answer_df

   流水號  程式設計  UNIX應用實務  微積分(I)  普通物理學  計算機概論  高關懷
0    1    28      60.0      54     77     39    0
1    2    41      70.0      70     60     64    0
2    3    67      79.0      75     68     51    0
3    4    63      69.0      71     49     51    0
4    5    78      94.0      99     69     74    0
5    6    56      96.0      89     90     68    0
6    7    39      49.0      74     67     43    0
7    8    55      49.0      81     61     35    0
8    9    61      69.0      78     67     63    0
9   10    36       NaN      93     64     52    0