<a href="https://colab.research.google.com/github/WAETW/NTCU_ML_HomeWork/blob/master/RandomForest_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

上傳訓練資料

In [0]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving training.xlsx to training.xlsx
User uploaded file "training.xlsx" with length 20206 bytes

上傳測試資料

In [0]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving test_dat.csv to test_dat.csv
User uploaded file "test_dat.csv" with length 335 bytes

In [0]:
import pandas as pd
import numpy as np
from sklearn import  ensemble, preprocessing, metrics
from sklearn.model_selection import train_test_split

In [0]:
train_data = pd.read_excel("training.xlsx")
predict_data = pd.read_csv("test_dat.csv",encoding = "big5")

取總修學分與實得學分當訓練資料

In [0]:
#train_series = ['程式設計' ,'UNIX應用實務' ,'微積分(I)'	,'普通物理學'	,'計算機概論'	,'總修學分數'	,'實得學分數'	,'高關懷']
train_series = ['總修學分數'	,'實得學分數'	,'高關懷']
train_df = train_data[train_series]

In [0]:
train_df

     總修學分數  實得學分數  高關懷
0     24.5   24.5    0
1     18.0   12.0    1
2     23.5   17.5    0
3     23.5   23.5    0
4     21.5   21.5    0
5     20.5   14.5    0
6     23.5   17.5    0
7     23.5   17.5    0
8     21.5   21.5    0
9     23.5   23.5    0
10    23.5   21.5    0
11    23.5   23.5    0
12    23.5   23.5    0
13    23.5   23.5    0
14    23.5   23.5    0
15    23.5   13.5    1
16    23.5   23.5    0
17    23.5   23.5    0
18    23.5   20.5    0
19    21.5   12.5    1
20    23.5   20.5    0
21    23.5   23.5    0
22    23.5   23.5    0
23    23.5   17.5    0
24    23.5   23.5    0
25    23.5   23.5    0
26    23.5   23.5    0
27    23.5   23.5    0
28    21.5   18.5    0
29    23.5   20.5    0
..     ...    ...  ...
152   23.5   23.5    0
153   23.5   20.5    0
154   23.5   23.5    0
155   23.5   20.5    0
156   18.5   18.5    0
157   23.5   15.5    1
158   23.5   23.5    0
159   21.5   21.5    0
160   23.5   20.5    0
161   23.5    9.5    1
162   23.5   11.5    1
163   23.5   11.5    1
164   21.5   16.5    0
165   21.5   21.5    0
166   23.5   23.5    0
167   21.5   15.5    0
168   23.5   21.5    0
169   23.5   17.5    0
170   23.5   20.5    0
171   23.5   20.5    0
172   23.5   23.5    0
173   23.5   23.5    0
174   23.5   23.5    0
175   23.5   23.5    0
176   23.5   23.5    0
177   21.5   21.5    0
178   23.5   20.5    0
179   24.5   24.5    0
180   23.5   23.5    0
181   25.5   25.5    0

[182 rows x 3 columns]

In [0]:
#train_df = train_df.dropna(axis=0, how='any')

In [0]:
#train_data_series = ['程式設計' ,'UNIX應用實務' ,'微積分(I)'	,'普通物理學'	,'計算機概論'	,'總修學分數', '實得學分數']
train_data_series = ['總修學分數', '實得學分數']
train_data = train_df[train_data_series]
train_label = train_df['高關懷']

將訓練資料分20%當驗證模型的資料

In [0]:
train_data , test_data, train_label, test_label = train_test_split(train_data,train_label, test_size = 0.2)

In [0]:
forest = ensemble.RandomForestClassifier(n_estimators = 100)
forest_fit = forest.fit(train_data, train_label)

使用Sklearn的RandomForest模型

In [0]:
test_label_predicted = forest.predict(test_data)

驗證模型準確度

In [0]:
accuracy = metrics.accuracy_score(test_label, test_label_predicted)
print(accuracy)

1.0

In [0]:
test_df = test_df[train_data_series]

In [0]:
predict_data

   程式設計  UNIX應用實務  微積分(I)  普通物理學  計算機概論  總修學分數  實得學分數
0    28      60.0      54     77     39   23.5   14.5
1    41      70.0      70     60     64   23.5   20.5
2    67      79.0      75     68     51   23.5   20.5
3    63      69.0      71     49     51   23.5   17.5
4    78      94.0      99     69     74   23.5   23.5
5    56      96.0      89     90     68   23.5   20.5
6    39      49.0      74     67     43   23.5   14.5
7    55      49.0      81     61     35   23.5   12.5
8    61      69.0      78     67     63   23.5   23.5
9    36       NaN      93     64     52   16.5   10.5

In [0]:
test_df

   總修學分數  實得學分數
0   23.5   14.5
1   23.5   20.5
2   23.5   20.5
3   23.5   17.5
4   23.5   23.5
5   23.5   20.5
6   23.5   14.5
7   23.5   12.5
8   23.5   23.5

將預測資料輸入模型

In [0]:
test = forest.predict(test_df)

In [0]:
submit_df = pd.DataFrame(test,columns = ['高關懷'])

In [0]:
submit_df

   高關懷
0    1
1    0
2    0
3    0
4    0
5    0
6    1
7    1
8    0

將輸出與測試資料的DataFrame結合

In [0]:
answer_df = pd.concat([predict_data,submit_df],axis=1, join_axes=[test_df.index])

測試結果

In [0]:
answer_df

   程式設計  UNIX應用實務  微積分(I)  普通物理學  計算機概論  總修學分數  實得學分數  高關懷
0    28      60.0      54     77     39   23.5   14.5    1
1    41      70.0      70     60     64   23.5   20.5    0
2    67      79.0      75     68     51   23.5   20.5    0
3    63      69.0      71     49     51   23.5   17.5    0
4    78      94.0      99     69     74   23.5   23.5    0
5    56      96.0      89     90     68   23.5   20.5    0
6    39      49.0      74     67     43   23.5   14.5    1
7    55      49.0      81     61     35   23.5   12.5    1
8    61      69.0      78     67     63   23.5   23.5    0